* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.669)),url(https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  color: #ffffffce;
  text-align: center;
  width: 70%;

}
.content h2{
  font-size:54px;
  color: #db714e;
  text-transform: uppercase;
}
.content p{
  font-size: 23px;
  margin: 15px 0;
}
.content button{
  background-color:  #04aa6d;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  
}
.content button:hover{
  background-color: #068858;
  transition: 0.5s ease-in;
}